/* font-family: 'Abril Fatface', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Roboto Condensed', sans-serif; */

* {
  margin: 0;
  padding: 0;
}
.head {
  background: url(./../assets/resturant-background.png);
  background-size: 100vw 100%;
  background-repeat: no-repeat;
}
.nav-item > .nav-link > a {
  font-family: "Abril Fatface", cursive;
  font-size: 5vw;
  color: #410e00;
  text-decoration: none;
}
.nav-item {
  font-family: "Abril Fatface", cursive;
  font-size: 5vw;
  color: #410e00;
  text-decoration: none;
}

.row > .mit {
  font-family: "Abril Fatface", cursive;
  font-size: 15vw;
  color: #410e00;
  max-height: 15vw;
  padding-top: 8vw;
}
.row > .res {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 10vw;
  color: #384258;
  padding-top: 7vw;
  font-weight: 700;
}

.arrow > a > img {
  width: 20vw;
}
.contents {
  background: url(../assets/crossword.png);
  background-repeat: repeat;
  background-size: 100vw 100vh;
}
.blurb {
  width: 100vw;
  padding-top: 2vw;
  align-items: center;
}
.blurb-txt {
  padding: 1.75vw;
  font-family: "Roboto Condensed", sans-serif;
  color: #410e00;
  font-size: 2.5vw;
}
.blurb-txt > p > a {
  color: #e1be50;
  text-decoration: none;
}

.dsk > img {
  width: 50vw;
}

.card {
  background-color: #384258;
  border: none;
}
.blockquote {
  color: whitesmoke;
  font-family: "Roboto Condensed", sans-serif;
}
.blockquote-footer {
  color: rgb(205, 205, 205);
}
.stars {
  width: 18%;
}

.footer {
  background-color: #384258;
  color: whitesmoke;
  padding: 3vw;
}
.words > p {
  font-family: "Abril Fatface", cursive;
  font-size: 3vw;
}

@media screen and (max-width: 600px) {
  .blurb {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .blurb-img > img {
    width: 75vw;
  }
  .dsk {
    display: none;
  }
  .mob > img {
    width: 100vw;
  }
  .arrow {
    display: none;
  }
}
