/* font-family: 'Abril Fatface', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Roboto Condensed', sans-serif; */

* {
  margin: 0;
  padding: 0;
}
.head {
  background: url(./../assets/resturant-background.png);
  background-size: 100vw 100%;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.nav-item > a {
  font-family: "Abril Fatface", cursive;
  font-size: 5vw;
  color: #384258e3;
  text-decoration: none;
}
.nav-item {
  font-family: "Abril Fatface", cursive;
  font-size: 5vw;
  color: #410e00;
  text-decoration: none;
}
.active > a {
  color: #410e00;
}

.nav-item > a {
  font-family: "Abril Fatface", cursive;
  font-size: 5vw;
  color: #384258e3;
  text-decoration: none;
}

.nav-item {
  font-family: "Abril Fatface", cursive;
  font-size: 5vw;
  color: #410e00;
  text-decoration: none;
}
.active > a {
  color: #410e00;
}
.row > .mit {
  font-family: "Abril Fatface", cursive;
  font-size: 15vw;
  color: #410e00;
  max-height: 15vw;
}
.row > .res {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 10vw;
  color: #384258;

  font-weight: 700;
}

.row > .mit-sm {
  font-family: "Abril Fatface", cursive;
  color: #410e00;
  font-size: 5vw;
  padding-bottom: -1vw;
}
.row > .res-sm {
  font-family: "Roboto Condensed", sans-serif;
  color: #384258;
  font-weight: 700;
  font-size: 3vw;
}

.arrow > a > img {
  width: 20vw;
}
#contents {
  background-image: url(./../assets/crossword.png);
  background-repeat: repeat;
}
.blurb {
  width: 100vw;
  padding-top: 2vw;
  align-items: center;
}
.blurb-txt {
  font-family: "Roboto Condensed", sans-serif;
  color: #410e00;
  font-size: 2.5vw;
}
.blurb-txt > p > a {
  color: #e1be50;
  text-decoration: none;
}

.dsk > img {
  width: 50vw;
}

.card {
  background-color: #384258;
  border: none;
}
.blockquote {
  color: whitesmoke;
  font-family: "Roboto Condensed", sans-serif;
}
.blockquote-footer {
  color: rgb(205, 205, 205);
}
.stars {
  width: 18%;
}

.footer {
  background-color: #384258;
  color: whitesmoke;
  padding: 3vw;
}
.words > p {
  font-family: "Abril Fatface", cursive;
  font-size: 3vw;

}

.nav-foot-item > a {
  font-size: 3vw;
  color: whitesmoke;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.nav-foot-item > a {
  font-family: "Abril Fatface", cursive;
  font-size: 5vw;
  color: whitesmoke;
  text-decoration: none;
  flex-wrap: nowrap;
}

.arrow-bottom > a > img {
  transform: rotate(180deg);
}
.arrow-bottom > a > img {
  transform: rotate(180deg);
  width: 15vw;
}
.arrow-bottom {
  display: flex;
  justify-content: flex-end;
}

.nav-foot-item > a {
  font-size: 3vw;
  color: whitesmoke;
}

.active-nav-foot-item > a {
  color: whitesmoke;
}
.arrow-bottom > a > img {
  transform: rotate(180deg);
  width: 15vw;
}
@media screen and (max-width: 600px) {

  .head {
    min-height: 50vh;
  }

  .blurb {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .blurb-img > img {
    width: 75vw;
  }

  .blurb-txt {
    font-size: 5vw;
  }
  .dsk {
    display: none;
  }
  .mob > img {
    width: 100vw;
  }
  .arrow {
    display: none;
  }

  .nav-foot-item > a {
    padding: 1vw;
  }
}
