/* font-family: 'Abril Fatface', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Roboto Condensed', sans-serif; */

* {
  margin: 0;
  padding: 0;
}
.head {
  background: url(./../assets/resturant-background.png);
  background-size: 100vw 100%;
  background-repeat: no-repeat;
}
.row > .mit {
  font-family: "Abril Fatface", cursive;
  font-size: 15vw;
  color: #410e00;
  max-height: 15vw;
  padding-top: 13vw;
}
.row > .res {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 10vw;
  color: #384258;
  padding-top: 13vw;
  font-weight: 700;
}
.arrow {
  justify-content: center;
}
.arrow > a > img {
  width: 20vw;
}
.contents {
  background: url(../assets/crossword.png);
  background-repeat: repeat;
  background-size: 100vw 100vh;
}
.blurb {
  width: 100vw;
  padding-top: 2vw;
  align-items: center;
}
.blurb-txt {
  padding: 1.75vw;
  font-family: "Roboto Condensed", sans-serif;
  color: #410e00;
  font-size: 2.5vw;
}
.blurb-txt > p > a {
  color: #e1be50;
  text-decoration: none;
}
.blurb-img > img {
  width: 47vw;
}
.card {
  padding: 5vw;
  width: 40vw;
  background-color: #384258;
}
.blockquote {
  color: whitesmoke;
  font-family: "Roboto Condensed", sans-serif;
}
.blockquote-footer {
  color: rgb(205, 205, 205);
}
.stars {
  width: 20%;
}
.reviews {
  justify-content: space-around;
  align-items: baseline;
  padding-top: 4vw;
  padding-bottom: 4vw;
}
.footer {
  background-color: #384258;
  color: whitesmoke;
  padding: 3vw;
  font-family: "Abril Fatface", cursive;
  font-size: 3vw;
  justify-content: space-around: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .arrow {
    display: none;
  }
  .reviews {
    flex-direction: column;
    width: 100vw;
  }
  .card {
    width: 100%;
  }
  .blurb {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .blurb-img > img {
    width: 75vw;
  }
}
