/* font-family: 'Abril Fatface', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Roboto Condensed', sans-serif; */

* {
  margin: 0;
  padding: 0;
}
.head {
  background: url(./../assets/Spicy-brown-sugar-glazed-fried-chicken-strips-7.png);
  background-size: 100vw 100%;
  background-repeat: no-repeat;
}
.nav-item > .nav-link > a {
  font-family: "Abril Fatface", cursive;
  font-size: 5vw;
  color: #410e00;
  text-decoration: none;
  flex-wrap: nowrap;
}
.nav-item {
  font-family: "Abril Fatface", cursive;
  font-size: 5vw;
  color: #410e00;
  text-decoration: none;
  flex-wrap: nowrap;
}
.nav-item > a {
  font-family: "Abril Fatface", cursive;
  font-size: 5vw;
  color: #384258e3;
  text-decoration: none;
}

.nav-item {
  font-family: "Abril Fatface", cursive;
  font-size: 5vw;
  color: #410e00;
  text-decoration: none;
}
.active > a {
  color: #410e00;
}

.navbar {
  background-color: none;
}
.row > .menu {
  font-family: "Abril Fatface", cursive;
  font-size: 15vw;
  color: #410e00;
}

.row > .mit {
  font-family: "Abril Fatface", cursive;
  color: #410e00;
  font-size: 5vw;
  padding-bottom: -1vw;
}
.row > .res {
  font-family: "Roboto Condensed", sans-serif;
  color: #384258;
  font-weight: 700;
  font-size: 3vw;
}

.arrow > a > img {
  padding: 1vw;
}
#contents1 {
  background-image: url(./../assets/crossword.png);
}

#contents2 {
  display: none;
}
.card {
  background-color: #410e00;
}

.title {
  color: whitesmoke;
  font-family: "Dancing Script", cursive;
  font-size: 4vw;
}
.heading {
  font-family: "Roboto Condensed", sans-serif;
  color: whitesmoke;
  font-size: 2.25vw;
}
.sub {
  font-family: "Roboto Condensed", sans-serif;
  color: rgb(205, 205, 205);
  font-size: 1vw;
  text-indent: 3vw;
}

.no {
  color: #410e00;
}

.footer {
  background-color: #384258;
  color: whitesmoke;
}
.words > p {
  font-family: "Abril Fatface", cursive;
  font-size: 3vw;
}

.nav-foot-item > a {
  font-size: 3vw;
  color: whitesmoke;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.nav-foot-item > a {
  font-family: "Abril Fatface", cursive;
  font-size: 5vw;
  color: whitesmoke;
  text-decoration: none;
  flex-wrap: nowrap;
}

.arrow-bottom > a > img {
  transform: rotate(180deg);
}
.arrow-bottom > a > img {
  transform: rotate(180deg);
  width: 15vw;
}
.arrow-bottom {
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 600px) {
  .arrow {
    display: none;
  }
  #contents1 {
    display: none;
  }
  #contents2 {
    display: block;
    background-image: url(./../assets/crossword.png);
  }
  .menu {
    padding: 15vw;
  }
  .items {
    margin-top: 1vw;
    margin-bottom: 1vw;
  }
  .title {
    color: whitesmoke;
    font-family: "Dancing Script", cursive;
    font-size: 10vw;
    display: flex;
    justify-content: center;
  }
  .heading {
    font-family: "Roboto Condensed", sans-serif;
    color: whitesmoke;
    font-size: 4vw;
  }
  .sub {
    font-family: "Roboto Condensed", sans-serif;
    color: rgb(205, 205, 205);
    font-size: 2.25vw;
  }
  .no {
    color: #410e00;
  }
  .nav-foot-item > a {
    padding: 1vw;
  }
}
